<div ng-init="loginCtrl.fetchData()" class="container">
    <h1>My Info</h1>
    <div ng-if="loginCtrl.user">
        <h1 >User Info</h1>
        <h3> Welcome, {{loginCtrl.user.firstName}} {{loginCtrl.user.lastName}} </h3>
        <h3> Email:  {{loginCtrl.user.email}} </h3>
        <h3> Phone:  {{loginCtrl.user.phoneNumber}} </h3>
        <h3>You selected: {{loginCtrl.menuItem.name}} as your favorite menu item! </h3>
        <menu-item 
        menu-item="loginCtrl.menuItem" 
        category-short-name="loginCtrl.category.short_name">
</menu-item>
    </div>
    
        <div ng-if="!loginCtrl.user">
            <h1>Not Signed Up Yet.</h1> <a ui-sref="public.signup"> Sign up Now! </a>
        </div>
    </div>